{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ if ne .Section "projects" }}
  	<span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ end }}
  {{ .Content }}
</div>

{{ if ne .Section "projects" }}
<div class="related">
	<b>Additional Posts</b><br /><br />
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}">&#8592; {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}">{{.Title}} &#8594; </a>
    {{ end }}
</div>
{{ end }}

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}