<h1>How May I Assist?</h1>

<p>For the best chance of a reply, this form should do the trick.</p>

<div id="wufoo-q155ugek1bxxt2v">
Fill out my <a href="https://veeneck.wufoo.com/forms/q155ugek1bxxt2v">online form</a>.
</div>
<script type="text/javascript">var q155ugek1bxxt2v;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'veeneck',
'formHash':'q155ugek1bxxt2v',
'autoResize':true,
'height':'557',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q155ugek1bxxt2v = new WufooForm();q155ugek1bxxt2v.initialize(options);q155ugek1bxxt2v.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<h1>Social and Whatnot.</h1>

<p>I do have a Twitter account. I'm not too active on it. That may change ... may not. You should follow it regardless. <a href="https://twitter.com/veeneck">@veeneck</a></p>

<p>That's all I've got. Exciting, huh? I'm closely following <a href="https://diasporafoundation.org">diaspora</a> and other decentralized networks. If something inspires me to share, I'll note it here. Until then, I'll continue lurking away.</p>
